h1 {
     font-size: 50px;
     color: red;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{

     --cor-de-fundo:#000000;
     --cor-texto-principal:#15ff00;
     --cor-texto-secundari:#40f000;
     --botao-ativo:#ff0000;
     --botao-inativo:#2bff00;
}


body{
     background: var(--cor-de-fundo);
     color: var(--cor-texto-principal);
     font-family: "Roboto", sans-serif;
}

.conteudo-principal{
     display:flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
     max-width:1200px;
     width:100%;
     margin:0 auto;


}
.titulo-principal{
     text-align:left;
     width:100%;
     font-size:32px;


}